*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.glgl{
    width: 100px;
    aspect-ratio: 1/3;
    background: #353131;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;      
}

.red{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: red;
    box-shadow: 0 0 40px red;
    animation: circle-red 10s infinite;
}

.yellow{
  width:70px;
  height:70px;
  border-radius:50%;
  background: yellow;
  box-shadow: 0 0 40px yellow;
  animation: circle-yellow 7s infinite;
}

.green{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background:#008000;
    box-shadow: 0 0 40px #008000;
    animation: circle-green 6s  infinite;
}

@keyframes circle-red{
    0%, 44%, 45% {background: color #f00;}
    45%, 46% {background-color: #353131;}
}

@keyframes circle-yellow{
    0%, 45% {background-color: #353131;}
    45%, 50%{background-color: #ffff00;}
}

@keyframes circle-green{
    0%, 51%{background-color: #35313135;}
    52%, 86% {background-color: #008000;}
}