*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    height: 300px;
    background: #0D1335;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 250px;
    height: 110px;
    border: 10px solid;
    border-radius: 50%;
}
.circle{
      width: 40px;
      aspect-ratio: 1/1;
      background: #73C6EA;
      border-radius: 50%;
}
.box1{
    border-color: #FBFAE2;
}
.box2{
    border-color: #4FA07B;
    rotate: 120deg;
}
.box3{
    border-color: #DC6638;
    rotate: -120deg;
}