.student-card{
    border: 1px solid #ccc;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    width: 200px;
}

.student-card h3{
    margin: 0;
    color: #333;
}

.student-card button{
    background-color: #ff4d4d;
    color: #fff;
    padding:  7px 10px;
    cursor: pointer;
    border-radius: 8px;
}