:root {
    --color-primary  : #1572d3;
    --color-primary-bg: #1572d31a;
    --color-black    : #000000;
    --color-neutral-1: #222222;
    --color-neutral-2: #444444;
    --color-neutral-3: #D9D9D9;
    --color-neutral-4: #BFBFBF;
    --color-neutral-5: #808080;
    --color-neutral-6: #a6a6a6;
    --color-neutral-7: #737373;
    --color-white    : #ffffff;
    --color-red      : #F55757;
    
   

    --font-family-main: "Lato", sans-serif;

    
    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 18px;
    --font-size-5: 20px;
    --font-size-6: 24px;
    --font-size-7: 38px;
    --font-size-8: 48px;
    --font-size-9: 64px;

    

    --radius-1: 8px;
    --radius-2: 12px;
    --radius-3: 16px;
    --radius-4: 24px;
    --radius-full: calc(infinity * 1px);

    

    --transition: 0.3s;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  
}

body {
    font-family: var(--font-family-main);
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.container{
    min-width: 1200px;
    margin:  0 auto;
    width: 90%;
    height: 100%;
}

.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999999;
    backdrop-filter:var(--color-neutral-4);
    background-color:#1572d31a;
}

.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
}

.header_navlist{
    display: flex;
    list-style: none;
    gap: 30px;
}

.header_item a{
    font-size: var(--font-size-3);
    font-weight: 500;
    transition: var(--transition);
}

.hero_auth{
    display: flex;
    gap: 15px;
    align-items: center;
}

.hero_auth_link:first-child{
    background: red;
    padding: 10px 20px;
    border: var(--radius-1);
    color: #ffffff;
}

.hero_auth_link:last-child{
    background: #ffffff;
    color:red;
    border: red solid 1px;
    padding: 10px 20px;
}

.hero_wrap{
    gap: 30px;
    height: 100%;
}

.hero_title{
    font-size: 56px;
    font-weight: 700;
    font-style: bold;
    line-height: 1.2;
    color: #595959;
}

.hero_text{
    font-size: 20px;
    font-weight: 300;
    font-style: light;
    color: #737373;
}

.hero_img{
    flex: 1;
    text-align: right;
}

.hero{
    background: url("./img/toyota.png") no-repeat center right/50%;
    height: 100vh;
}

.hero_content {
    width: 50%;
    max-width: 700px;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.models{
       height: 100vh;
}

.container{
    padding: 30px 0;
}

.models_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    opacity: 25%;
}

.popular{
    width: 100%;
    top: 0;
    left: 0;
}

.popular_wrap{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    gap: 40px;
}

.first_text{
    color:#FBB7B7;
    font-size: var(--font-size-5);
    font-style: bold;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.the_second_text{
    color:#737373;
    font-size: 43px;
    font-style: medium;
    font-weight:500;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.third_text{
    color: #A6A6A6;
    font-size: 15px;
    font-style: var(--font-family-main);
    font-weight: 400;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card_group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.popular_card{
    width: 30%;
    display: flex;
    flex-direction: column;    
    gap: 15px;            
}

.popular_img{
    aspect-ratio: 5/3;
}

.popular_img > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.text{
    font-style: var(--font-family-main);
    font-size: 26px;
    line-height: 1.2;
    font-weight: 500;
    font-style: medium;
    color: #737373;
}

.name{
    text-transform: uppercase;
}

.price_amount{
    font-style:var(--font-family-main);
    font-size: 20px;
    font-weight: 900;
    color: var(--color-black);
    line-height: 1.2;
}

.price_period{
    font-size: 7px;
    font-style: var(--font-family-main);
    font-weight: 400;
    line-height: 1.2;
    color: #404040;
}

.location{
    color: var(--color-neutral-3);
    width: 16px;
    height: 22px;
}

.address{
    font-style: var(--font-family-main);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #A6A6A6;
}

.rent_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    gap: 30px;
    padding: 10px 20px;
    color: #737373;
}

.rent_btn:hover{
    background-color: var(--color-red);
    cursor: pointer;
}

.card_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.price_group{
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.location_group{
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.all_products{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

 
.see-all-link {
    display: inline-block;    
    background-color: var(--color-red); 
    color: white;      
    font-weight: 700;       
    font-size: 15px;
    padding: 12px 30px;         
    line-height: 1.2;
    font-style: var(--font-family-main);      
}

.service_wrap{
    height: 100%;
}

.service_group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.service_card{
    /* width: 100%; */
    background: #b008 url(./img/key.jpg) no-repeat center center / cover;
    background-blend-mode: darken;
    aspect-ratio: 3 / 4 ;
}

.service_card:nth-of-type(2){
    background: #b006 url(./img/driver.jpg) no-repeat center center / cover;
    background-blend-mode: darken;
    aspect-ratio: 3 / 4 ;
}

.service_card:nth-of-type(3){
    background: #b006 url(./img/car.jpg) no-repeat center center / cover;
    background-blend-mode: darken;
    aspect-ratio: 3 / 4 ;
}

.service_info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background: #fff8;
    color: white;
    gap: 20px;
}

.service_info > span > i{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.read-more-link{
    display: inline-block;
    text-decoration: none;
    background: var(--color-red);
    color: var(--color-white);
    padding: 10px 25px;
   
}

.advantage_wrap{
    display: grid;
    min-width: 1200px;
    margin: 0;
    gap: 50px;
}

.advantage_group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.advantage_info{
    display: flex;
    flex-direction:row;
    align-items: start;
    gap: 10px;
}

.advantage_card{
    display: flex;
    align-items: start;
    gap: 30px;
}

.advantage_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-style: var(--font-family-main);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-neutral-7);
}

.advantage_content > p{
    font-size: 15px;
    color: var(--color-neutral-6);
}

.advantage_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}


.advantage_icon > span{
    color: var(--color-red);
    font-size: 45px;
}

.map_wrap{
    min-width: 1200px;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.map_hgroup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    
}

.map-img{
    width: 50%;
    display: flex;
    justify-content: end;
    align-self: flex-end;
    object-fit: cover;
    
}

.information_map{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    font-style: var(--font-family-main);
    font-size: 16px;
    font-weight: 500;
    
}

.gmail{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-neutral-5);
}

.gmail > span{
  color: var(--color-red);
  display: inline-block;
  font-size: 24px;
}

.telephone{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-neutral-5)
}

.telephone > span{
   color: var(--color-red);
   display: inline-block;
   font-size: 24px;
}

.clock{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-neutral-5) 
}

.clock > span{
    color: var(--color-red);
    display: inline-block;
    font-size: 24px;
}

.map_location{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-neutral-5)
}

.map_location > span{
    color: var(--color-red);
    display: inline-block;
    font-size: 24px;
}

.social_icons{
    display: flex;
    align-items: start;
    justify-content:row;
    
    gap: 10px;
}

.social_icons > span{
    border: 1px solid var(--color-red);
    font-size: 30px;
    background: var(--color-white);
    color: var(--color-red);
}

.social_icons > span:nth-of-type(1){
    background: var(--color-red);
    color: var(--color-white);
}

.map_block{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 50px;
    padding: 40px 0;
}

.map_link{
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 10px;
    gap: 60px;
    position: absolute;
    bottom: -30px;
    left: 50px;
    transform: translate(-50px);
}

.review_group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.review_card {
    background-color: var(--color-white);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px #B40D0D1A; 
    max-width: 450px;
    font-family: var(--font-family-main);
}

.review_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.quote_icon{
    color: var(--color-red);
    font-size: 35px;
}

.star_icons{
    color: var(--color-red);
    font-size: 16px;
    margin-left: 2px;
}

.review_text {
    color: var(--color-neutral-7);
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 30px;
}

.user_info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.people_img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.people_name {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-neutral-7);
}

.location_name{
    font-size: 16px;
    color: var(--color-neutral-4);
    margin-top: 5px;
}

.review-see-all-link{ 
    width: fit-content;
    margin: 0 auto; 
    display: block; 
    padding: 10px 40px;
    background: var(--color-red);
    color: var(--color-white);
 }


.subscribe {
  background-color: #FEE7E7; 
  padding: 40px 0;
  text-align: center;
}

.subscribe_wrap {
  max-width: 600px;
  margin: auto;
}

.mail_group {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px 15px;
  border: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.mail_icon {
  display: flex;
  align-items: center;
  flex-grow: 1; 
  color: var(--color-neutral-3);
}

.mail_icon span {
  color: var(--color-neutral-3);
  font-size: 24px;
  padding: 10px;
}

.subscribe_btn {
  background-color: var(--color-red); 
  color: var(--color-white);
  border: none;
  padding: 12px 25px;
  border: 5px;
  font-weight: 600;
}

.footer_wrap{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer_logo{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_text{
    width: 30%;
    margin-bottom: 30px;
    font-family: var(--font-family-main);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-neutral-6);
}

.footer-columns {
  display: flex;             
  gap: 40px;                 
}

.column {
  display: flex;
  flex-direction: column;    
  gap: 15px;
}

.column h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--color-neutral-7);               
  margin-bottom: 10px;
}

.column a {
  font-weight: 400;
  color: var(--color-neutral-6);              
  font-size: 14px;
}

.column a.active {
  color: var(--color-red);
}